.footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  margin-top: 100px;
  background: rgb(87, 60, 7);
  padding: 20px 20px 20px 90px;
  align-items: center;
  color: white;
}
.footer li {
  list-style: none;
}

.footersubtext,
p {
  font-size: 10px;
}
input {
  min-height: 30px;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  margin: 10px 5px;
}
.submit:hover {
  border: white;
}
@media only screen and (max-width: 400px) {
  .footer {
    /* display: block; */
    grid-template-columns: 50% 50%;
    margin: 5px 5px 0px 0px;
    padding: 20px 20px 10px 20px;
  }
  .footer li {
    padding-bottom: 5px;
  }
  .footer ul {
    margin-bottom: 20px;
  }
  .submit {
    padding: 6px 65px;
    background-color: rgb(166, 118, 21);
  }
}
